<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azure Demo</title>
</head>
<body>
    <h1>Velkommen til skyen!</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Microsoft_Azure_Logo.svg/2560px-Microsoft_Azure_Logo.svg.png" alt="Azure logo" style="width:368px;height:106px;">
    <img src="https://computas.com/content/themes/computas/assets/images/logo.svg" alt="Computas logo" style="width:368px;height:78px;">
    
    <p>Det var vell greit?</p>
</body>
</html>
